# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Django
db.sqlite3
db.sqlite3-journal
media/
*/migrations/
!*/migrations/__init__.py


# Scans / Uploads
scans/

# IDE / OS
.idea/
.vscode/
.DS_Store